<div class="pichanga">
  <h3>
    <%= link_to pichanga.titulo, pichanga %>
  </h3>
  <div class="actions">
    <%= link_to "Edit", edit_pichanga_path(pichanga) %> |
    <%= link_to "Destroy", pichanga, :confirm => 'Are you sure?', :method => :delete %>
  </div>
</div>

